version: '3.7'

services:
  postgres:
    image: postgres:10.5
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fops_bot_db
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5438:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  fops_bot:
    image: ghcr.io/kenwoodfox/fopsbot:main
    environment:
      BOT_TOKEN: "secret.token.here"
    restart: "always"
    command: "true"
