# Ignore everything by default
**/*

# Except these:
!Dockerfile
!README.md
!setup.py
!requirements.txt
!test_requirements.txt
!main.py
!__main__.py
!__init__.py
!models.py
!web_dashboard.py
!alembic.ini
!bin/
!cogs/
!utilities/
!static/
!templates/
!scripts/
!alembic/

